<!DOCTYPE html>
<html>
<head>
  <title>Audarim</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "merge"%>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery" %>
  <%= javascript_include_tag "typehead" %>
  <%= javascript_include_tag "modules" %>
  <%= javascript_include_tag "app" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="modal-back hide"></div>
		<div class="container">
			<div class="row">
				<div class="large-10 large-offset-1 columns">
					<div class="modal hide" id="modal">
						<div class="close-button"></div>
						<div class="name"></div>
						<div class="content">
							Lorem ipsum eiusmod elit tempor culpa ea aute ex ex proident amet adipisicing proident in ut veniam. Lorem ipsum sint consequat cillum ullamco nulla exercitation deserunt voluptate in id irure. Lorem ipsum dolor reprehenderit nostrud incididunt commodo ad sunt non est eu exercitation eu occaecat sit culpa dolor ut deserunt proident Excepteur minim quis consectetur in voluptate nostrud officia in ut sunt proident sunt magna minim enim nostrud elit minim eiusmod ullamco dolor reprehenderit proident ullamco labore aliquip Ut eiusmod minim est nostrud dolore exercitation in dolore sit qui reprehenderit velit consectetur ea aliqua sint tempor occaecat irure tempor dolore irure deserunt reprehenderit culpa sed mollit elit anim laborum consequat dolor qui tempor deserunt occaecat Duis dolor mollit officia reprehenderit consequat sint nulla commodo cupidatat deserunt magna exercitation cillum voluptate sint est elit cillum id ut ad exercitation esse adipisicing commodo nulla ad exercitation veniam ex ut et enim proident laboris et id deserunt occaecat velit Excepteur enim et culpa et dolor reprehenderit mollit officia ut pariatur pariatur dolor ad sunt eu id dolore enim dolor laborum pariatur ad Excepteur in ut dolore et occaecat amet eiusmod exercitation reprehenderit dolor culpa id reprehenderit aute in mollit labore Excepteur dolor aute id dolor Ut velit dolor consectetur in ut velit culpa do eiusmod in reprehenderit irure laborum sint amet nostrud esse sunt commodo non esse laborum Excepteur incididunt non incididunt anim veniam ullamco pariatur culpa labore cillum anim Excepteur mollit nisi adipisicing ullamco nulla veniam eu laborum exercitation adipisicing dolor quis ut voluptate labore quis nostrud. 
						</div>
						<div class="adv-modal">
							<div class="align-center">
								<div class="adv-font">
									Advertisement
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
		<div class="container">

			<header>
				<div class="adv">
					<div class="row">
						<div class="align-center adv-font">
							Advertisement
						</div>
					</div>		
				</div>
				<div class="row">
					<div class="large-4 columns">
						&nbsp;
					</div>
					<div class="menu align-right large-8 columns">
						<a href="#" class="login modal-open" data-modal="modal">
							<span>
								<icon class="icon">
									🔑
								</icon>
								Войти
							</span>
						</a>
						<a href="#" class="registration modal-open" data-modal="modal">
							<span>
								<icon class="icon">
									
								</icon>
								Регистрация
							</span>
						</a>
					</div>
				</div>
			</header>

			
			<%= yield %>

		
			<footer>
				<div class="row">
					<div class="wrap">
						<div class="large-4 columns">
							<div class="present">
								<span class="block bold">
									Audarim.kz 
								</span>
								<span class="copy">
									Copyright © 2013. All rights reserved.
								</span>
							</div>
						</div>
						<div class="large-4 columns">
							<div class="present">
								<span class="text">
									У нас есть:
									55860 статей, 106968 примеров.
								</span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
