<!DOCTYPE html>
<html>
<head>
  <title>Audarim</title>
  <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
    <div class="row">
      <header>
        <ul class="nav nav-pills">
          <li>
            <a href="/" class="logo">
              Audarme.kz
            </a>
          </li>
          <li class="fl-right"><a href="#">Примеры</a></li>
          <li class="fl-right"><a href="#">API</a></li>
          <li class="fl-right"><a href="">О сервисе</a></li>
          <li class="active fl-right">
            <a href="#">Главная страница</a>
          </li>
        </ul>
      </header>
    </div>
    <div class="row none" id="js-keyboard">
      <div class="span10 offset1 pad content">
      </div>
    </div>
		<%= yield %>
    <div class="row adv" style="height:80px">
      
    </div>
    <footer>
      <h6>
        &copy; Online translation by Audarme.kz 2013
      </h6>
    </footer>
	</div>
</body>
</html>
