<!DOCTYPE html>
<html>
<head>
  <title>Audarim</title>
  <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!--header-->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="../">Audarme</a>
        <ul class="nav">
          <li><a href="">Главная</a></li>
          <li><a href="">API</a></li>
          <li><a href="">О нас</a></li>
          <li><a href="">Примеры</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--endheader-->

	<div class="container application">
    <div class="row none" id="js-keyboard">
      <div class="span10 offset1 pad content">
      </div>
    </div>
		<%= yield %>
    <footer>
      <h6>
        &copy; Online translation by Audarme.kz 2013
      </h6>
    </footer>
	</div>
</body>
</html>
